.server-card-square {
  font-family: sans-serif;
  width: 280px;
  height: 350px;
}
.server-ok > .mdl-card__title{
  color: #C8E6C9;
  background: url('server-ok.png') bottom no-repeat #2E7D32;
}
.server-error > .mdl-card__title{
  color: #FFCDD2;
  background: url('server-error.png') bottom no-repeat #C62828;
}
