.server-card-square {
  font-family: sans-serif;
  width: 280px;
  height: 350px;
}

.mdl-card__subtitle-text{
  align-self: flex-end;
}

.server-ok {
  .mdl-card__subtitle-text, .mdl-card__title-text{
    color: #C8E6C9;
  }
  .mdl-card__title{
    background: url('server-ok.png') bottom no-repeat #2E7D32;
  }
}

.server-error {
  .mdl-card__subtitle-text, .mdl-card__title-text{
    color: #FFCDD2;
  }
  .mdl-card__title{
    background: url('server-error.png') bottom no-repeat #C62828;
  }
}
