.server{
  height: 500px;
}

.server-ok {
    background-image: url('server-ok.png');
    background-repeat: no-repeat;
    width: 300px !important;
    height: 300px !important;
    margin: 0 auto;
    padding: 0;
}

.server-error {
    background-image: url('server-error.png');
    background-repeat: no-repeat;
    width: 300px !important;
    height: 300px !important;
    margin: 0 auto;
    padding: 0;
}
