.chart{
  background: #444;
  padding-right: 10px;
  padding-bottom: 10px;
}

.donut-chart{
  color: #E8EAF6;

  .col-title{
    line-height: 2em;
    background: #333;

    p{
      font-size: 18px;
      height: 100%;
      margin-top: 0.5em;
      margin-left: 0.5em;
    }
  }

  .col-graph{
    margin-top: 20px;
    background: #00ff00 !important;
  }
}